{{ define "main" }}
<div class="error-container">
  <div class="error-code">404</div>
  <div class="error-message">
    <h2>Page Not Found</h2>
    <p>The page you're looking for doesn't exist or has been moved.</p>
    <p>Ok ok, here is your flag: 6d7aea5b3782c52ffdd39fabcd65bee5</p>
  </div>
  
  <div class="error-actions">
    <a href="{{ site.BaseURL }}" class="error-button">/home</a>
    <a href="{{ site.BaseURL }}posts/" class="error-button">/posts</a>
    <a href="{{ site.BaseURL }}tags/" class="error-button">/tags</a>
  </div>
  
  <div class="error-suggestion">
    <p>Seriously, How did you even end up here?</p>
  </div>
</div>
{{ end }}